
$primary:#0000ff;
$secondary:#f2ff00;
$success:#035668;
$danger:#FF444F;
$info:#3F81C7;
$warning:#0DE2EA;
$light:#eAeAeA;
$dark:#333;
$spacer:2rem;
$border-width:1px;
$btn-border-radius:0;

$smallScreen:300px;
$mediumScreen:1024px;

$foreground-color:"#333";
$background-color:"#FAFAFA";
